.tweets-list {
  margin: 8px;
  column-count: 4;
  min-height: 100%;
}

.tweets-list .cell {
  display: inline-block;
}

.tweets-list .metrics {
  position: fixed;
  z-index: 1;
  bottom: -10px;
}

.tweets-list .spinner {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}
