.tweets-list {
  padding: 8px;
  column-count: 4;
  background-color: whitesmoke;
  min-height: 100%;
}

.tweets-list .cell {
  display: inline-block;
}

.tweets-list .spinner {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}
