.tweet-card {
  margin-bottom: 10px;
}

.tweet-card .title {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
  overflow: hidden;
}

.tweet-card .subtitle .time {
  font-size: 10px;
}

.tweet-card .content {
  font-size: 18px;
}

.tweet-card .footer {
  padding-top: 10px;
}

.tweet-card .footer .icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tweet-card .footer .favorite {
  color: #F44336;
}

.tweet-card .footer .retweet {
  color: #4CAF50;
}

.tweet-card .footer .time {
  color: #9E9E9E;
}
