@import '~@angular/material/theming';

@include mat-core();

$twall-primary: mat-palette($mat-grey);
$twall-secondary: mat-palette($mat-blue);

$twall-theme: mat-light-theme($twall-primary, $twall-secondary);

@include angular-material-theme($twall-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
}
